html {
  font-family: Lucida Console, Courier, monospace;
  background: ghostwhite;
  padding: 1rem;
  /*border: grey thick dotted;*/
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  /*border: grey thick dotted;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lucida Console, Courier, monospace;
  color: darkblue;
  margin: 1rem 0;
  /*border: grey thick dotted;*/
}

a {
  display: inline-block;
  color: steelblue;
  text-decoration: none;
  padding: 0.5rem 0.25rem;
  /*border: grey thick dotted;*/
}

nav {
  background: whitesmoke;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 1rem;
}

nav h1 {
  flex: auto;
  margin: 0.5rem auto;
  font-size: 2.5rem;
  text-align: center;
  /*border: grey thick dotted;*/
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav span {
  display: block;
  padding: 0.3rem;
  font-size: 1rem;
  width: min-content;
  /*border: grey thick dotted;*/
}

nav a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  background: gainsboro;
  color: darkblue;
  /*border: grey thick dotted;*/
}

nav a:hover{
  background: ivory;
  color: darkslateblue;
  /*border: grey thick dotted;*/
}

.content {
  padding: 0 1rem 1rem;
  /*border: grey thick dotted;*/
}

.content > header {
  border-bottom: 2px solid lightgray;
  display: flex;
  align-items: flex-end;
  text-align: center;  
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
  /*border: grey thick dotted;*/
}

.flash {
  text-align: center;
  margin: 1em 0;
  padding: 1em;
  background: floralwhite;
  border: 1px solid silver;
  border-radius: 15px;
}

.content:last-child {
  margin-bottom: 10px;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /*border: grey thick dotted;*/
}

.content p {
  font-weight: normal;
  margin-bottom: inherit;
  display: inline-block;
  padding: 0 1rem;
  /*border: grey thick dotted;*/
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.content table {
  /*border: grey thick dotted;*/
  table-layout: auto;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}

.content table tr {
  border: 1px solid black;
}

.content table td {
  /*border: grey thick dotted;*/
  border-radius: 10px;
  align-self: center;
}

.content > a{
  display: block;
  width: 50%;
  text-align: center;
  padding: 0.5rem 4rem;
  margin: 0 auto;
  font-size: 1.5rem;
  background: whitesmoke;
  color: midnightblue;
}

.content > a:hover{
  background: aliceblue;
  color: darkslateblue;
  /*border: grey thick dotted;*/
}

.content label > a{
  padding: 0;
}

input[type=submit], input[type=button] {
  align-self: start;
  min-width: 10rem;
  min-height: 3rem;
  width: 100%;
  text-align: left;
  font-size: 1rem;
}
