html {
  font-family: Lucida Console, Courier, monospace;
  background: ghostwhite;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background: ghostwhite;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lucida Console, Courier, monospace;
  color: darkblue;
  margin: 1rem 0;
}

a {
  display: inline-block;
  color: steelblue;
  text-decoration: none;
  padding: 0.5rem 0.25rem;
}

nav {
  background: whitesmoke;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 1rem;
}

nav h1 {
  flex: auto;
  margin: 0.5rem auto;
  font-size: 2.5rem;
  text-align: center;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav span {
  display: block;
  padding: 0.3rem;
  font-size: 1rem;
  width: min-content;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  background: gainsboro;
  color: darkblue;
}

nav a:hover{
  background: ivory;
  color: darkslateblue;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 2px solid lightgray;
  display: flex;
  align-items: flex-end;
  text-align: center;  
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.content > h1 {
  text-align: center;
  color: dimgrey;
  margin: 0 auto;
  border-bottom: 1px solid darkcyan;
  width: 75%;
  padding: 0.5rem 0;
}

.content > p {
  text-align: center;
  color: navy;
  margin: 0.5rem auto;
  display: block;
  max-width: 75%;
}

.content form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.content table {
  table-layout: auto;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}

.content table td {
  border: 1px solid black;
}

.content > a {
  display: block;
  width: 50%;
  text-align: center;
  padding: 0.5rem 4rem;
  margin: 0 auto;
  font-size: 1.5rem;
  background: whitesmoke;
  color: midnightblue;
}

.content > a:hover, .content table a:hover{
  background: aliceblue;
  color: darkslateblue;
}

.content label > a {
  padding: 0;
}

.flash {
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  background: floralwhite;
  border: 1px solid silver;
  border-radius: 15px;
}

input[type=submit], input[type=button] {
  align-self: start;
  min-width: 10rem;
  min-height: 3rem;
  width: 100%;
  text-align: left;
  font-size: 1rem;
}
