{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View Password {% endblock %}</h1>
{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <td> Domain </td>
        <td> Username </td>
        <td> Password</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{domain}} </td>
        <td> {{username}} </td>
        <td>
          <input type="text" name="password" id="password" value="{{password}}"> </td>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="{{url_for('plaintext_passwords.index')}}" >Back to Main Page</a>
{% endblock %}