{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Password {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" action="{{url_for('plaintext_passwords.update_password', password_id = password_id)}}">
    <label for="domain">Domain</label>
    <input name="domain" id="domain" value="{{old_domain}}" required>
    <label for="username">Username</label>
    <input name="username" id="username" value="{{old_username}}" required>
    <label for="password">New Password</label>
    <input type="password" name="password" id="password">
    <label for="confirm">Confirm</label>
    <input type="password" name="confirm" id="confirm">
    <input type="submit" value="Update Password">
  </form>
  <a class="backButton" href="{{url_for('plaintext_passwords.index')}}" >Back to Main Page</a>
{% endblock %}