{% extends 'base.html' %}

{% block content %}
  <p> Plaintextpass accounts do not require a password to be secure. Your webauthn registration is sufficient to secure the account. 
  However, webauthn has a known <a href="https://github.com/w3c/webauthn/issues/1246"> Privacy risk from revealing allowed credentials</a>.
  Your password protects the privacy of your registration with Plaintextpass.
  </p>
  <a class="backButton" href="{{url_for('auth.register')}}" >Back to Registration</a>

{% endblock %}
